header{
	background-color: red;
	color: white;
}
h1{
	font-size: 20pt;
	font-weight: bold;
}
#search{
	position: relative;
}
nav li{
	display: inline;
	list-style-type: none;
}
nav{
	height: 20pt;
	background-color: red;
	color: white;
	font-size: 10pt;
}
#werbung_bild{
	width: 200px;
	height:  150px;
}
#werbung{
	float: left;
}
#content{
	clear: left;
}
#artikel{
	width: 30%;
	float: left;
}
#Hauptartikel{
	float: left;
}
